html,
body {
    background-color: #101010;
    margin: 0;
}

.logo-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20vw;
    min-width: 240px;
    max-width: 360px;
}