body {
    background-color: #202020;
}

.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20vw;
    min-width: 100px;
    max-width: 300px;
    margin: auto, auto, auto, auto;
}